<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: navigation"></head>
    <link rel="stylesheet" href="">
</head>

<body class="container">
<h2>My Kitchen</h2>
<img src="../../static/images/spices.jpg" alt="Soup" width="400" height="300">

    <form>
        <h2>Add Ingredient</h2>
        <form action="/ingredient/add">
            <label for="ingredientName">Add Ingredient:</label><br>
            <input type="text" id="ingredientName" value=""><br><br>
            <label for="ingredientCategory"> Select Category:</label><br>
            <select name="Category" id="ingredientCategory">
                <option value="spices">Spices</option>
                <option value="meats/seafood">Meats/Seafood</option>
                <option value="condiments">Condiments</option>
                <option value="sides">Sides</option>
            </select>
            <input type="submit" value="Submit">
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Spices</th>
                <th>Meats/Seafoods</th>
                <th>Condiments</th>
                <th>Sides</th>
            </tr>
            </thead>
        </table>-->
<!--    <th:block th:each="ingredient : ${ingredients}">-->
<!--        <tr>-->
<!--            <td th:text="${ingredient.id}"></td>-->
<!--            <td th:text="${ingredient.name}"></td>-->
<!--            <td th:text="${ingredient.category}"></td>-->
<!--            <td th:text="${ingredient.purchaseDate}"></td>-->
<!--            <td>-->
<!--                <a th:href="@{/ingredients/add/{id}(id=${ingredient.id})}">Add</a>-->
<!--            </td>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->
    </form>
</body>
</html>