<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
    <link rel="stylesheet" href="styles.css">
    <title> My Kitchen</title>
</head>
<div>
<img src="/Users/haleyallick/IdeaProjects/jane-group-a/0 Landing Page.jpg" alt="Spices">
</div>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Spices</th>
        <th>Meats/Seafoods</th>
        <th>Condiments</th>
        <th>Sides</th>
    </tr>
    </thead>
    <form>
        <h2>Add Ingredient</h2>
        <form action="/ingredient/add">
            <label for="ingredientName">Add Ingredient:</label><br>
            <input type="text" id="ingredientName" value=""><br><br>
            <label for="ingredientCategory"> Select Category:</label><br>
            <select name="Category" id="ingredientCategory">
                <option value="spices">Spices</option>
                <option value="meats/seafood">Meats/Seafood</option>
                <option value="condiments">Condiments</option>
                <option value="sides">Sides</option>
            </select>
            <input type="submit" value="Submit">
        </form>


        <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

        <p>Notice that the value of the "First name" field will not be submitted, because the input element does not have a name attribute.</p>


    </form>
    <th:block th:each="ingredient : ${ingredients}">
        <tr>
            <td th:text="${ingredient.id}"></td>
            <td th:text="${ingredient.name}"></td>
            <td th:text="${ingredient.category}"></td>
            <td th:text="${ingredient.purchaseDate}"></td>
            <td>
                <a th:href="@{/ingredients/add/{id}(id=${ingredient.id})}">Add</a>
            </td>
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>