<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<header th:replace="fragments :: navigation"></header>-->
<!--<body class="container">-->
<!--<h1>What's Sup</h1>-->
<!--    <form method="post">-->
<!--        <p>Ingredient Name</p>-->
<!--        <input  name="ingredientName" th:field="${ingredient.ingredientName}">-->
<!--        <p>Ingredient Category</p>-->
<!--        <input type="text" name="ingredientCategory" th:field="${ingredient.ingredientCategory}">-->
<!--        <p>Purchase date</p>-->
<!--        <input type="text" name="purchaseDate" th:field="${ingredient.purchaseDate}">-->
<!--        <p><input type="submit" value="add ingredient"></p>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
