
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
    <title> Add Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script></head>

<form method="post">

    <nav th:replace="fragments :: navigation"></nav>

    
    <div class="form-group">
        <input type="hidden" th:field="${featuredIngredientTag.recipe}">
        <select th:field="${featuredIngredientTag.tag}">
            <option th:each="tag : ${tags}"
                    th:value="${tag.id}"
                    th:text="${tag.name}"
            ></option>
        </select>
    </div>
    <input type="submit" class="btn btn-success" value="Add Tag">
</form>

</body>
</html>