<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
    </head>
    <title th:text="${title}">Whats Sup - View Recipe</title>
</head>

<nav th:replace="fragments :: navigation"></nav>
<style>
    body {
        background-image: url('../../images/counter-of-food.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
</style>
<body>
    <div class="container">
        <div class="d-flex align-items-center text-center justify-content-between my-3">
            <h1 class="display-2 font-weight-bold text-warning ml-5 pl-5">View Recipe</h1>
            <div th:replace="fragments :: taco"></div>
        </div>
    </div>
    <section class="container bg-warning w-50">
        <div class="row text-center">
            <h2 class="col border-bottom border-dark" th:text="'Title: ' + ${recipe.recipeTitle}">Recipe Title</h2>
        </div>
        <div class="row">
            <div class="col">
                <h5 th:text="'Author: ' + ${recipe.recipeAuthor}">Author</h5>
            </div>
            <div class="col">
                <h5 th:text="'Serves: ' + ${recipe.numServings} + ' people'">Number of Servings</h5>
            </div>
        </div>
        <div class="row border-bottom border-dark">
            <div class="col">
                <h5 th:text="'Prep Time: ' + ${recipe.prepTimeMinutes} + ' minutes'">Prep Time: </h5>
            </div>
            <div class="col">
                <h5 th:text="'Total Time: ' + ${recipe.totalTimeMinutes} + ' minutes'">Total Time: </h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 th:text="'Description: ' + ${recipe.recipeDescription}">Description: </h5>
            </div>
        </div>
    </section>
<!--    this is where i need the grouping to start-->
    <div class="row align-items-center justify-content-between">
            <div class="col">
            <section class="container bg-warning w-50 mt-3">
                <div class="row text-center">
                    <h2 class="col border-bottom border-dark">Ingredients & amounts</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li th:each="ingredient : ${recipe.ingredients}"
                                th:text="${ingredient}" class="h5">
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col">
            <section class="container bg-warning w-50 mt-3">
                <div class="row text-center">
                    <h2 class="col border-bottom border-dark">Step-by-Step Directions</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ol>
                            <li th:each="direction : ${recipe.directions}"
                                th:text="${direction}" class="h5">
                            </li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>
    </div>
<!--    this is where I need the grouping to end-->

<!--    <section class="container bg-warning">-->
<!--        <table class="text-center">-->
<!--            <thead class="text-center" th:text="'Title: ' + ${recipe.recipeTitle}">Title</thead>-->
<!--            <tbody>-->
<!--                <tr>-->
<!--                    <td class="text-center" th:text="'Author: ' + ${recipe.recipeAuthor}">Author: </td>-->
<!--                    <td class="text-center" th:text="'Serves: ' + ${recipe.numServings}">Number of Servings: </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td th:text="'Prep time: ' + ${recipe.prepTimeMinutes}">Prep Time: </td>-->
<!--                    <td th:text="'Total time: ' + ${recipe.totalTimeMinutes}">Total Time: </td>-->
<!--                </tr>-->
<!--            </tbody>-->
<!--            <tfoot>-->
<!--            <td th:text="${'Description: ' + recipe.recipeDescription}">Description Details: </td>-->
<!--            </tfoot>-->
<!--        </table>-->
<!--    </section>-->
<!--    <div>-->
<!--        <section class="container bg-warning">-->
<!--            <table>-->
<!--            <thead>Ingredients and Amounts</thead>-->
<!--            <tbody>-->
<!--                <th:block  th:each="ingredient : ${recipe.ingredients}">-->
<!--                    <tr>-->
<!--                        <td th:text="${ingredient}"></td>   below is caps lock so i don't forget-->
<!--                    </tr>                   DO WE NEED AMOUNTS OR NO?-->
<!--                </th:block>-->
<!--            </tbody>-->
<!--            </table>-->
<!--        </section>-->
<!--    </div>-->
<!--    <section class="container bg-warning">-->
<!--        <table>-->
<!--            <thead>Step by Step Directions</thead>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <ol>-->
<!--                        <li th:each="step : ${recipe.directions}" th:text="${step}">Steps in Order</li>-->
<!--                    </ol>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </section>-->
<!--    <section class="container bg-warning">-->
<!--        <table>-->
<!--            <thead>Additional Notes for This Recipe: </thead>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <li th:each="note : ${recipe.notes}" th:text="${note}"></li>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </section>-->
    <!--<form method="post">don't know where it's gonna submit to-->
<!--        <input type="text" placeholder="Type ingredient here" name="newIngredient" required-->
        <!--        th:field="${myKitchenIngredientCollection.addOrSomething()}"> look into what jon has done to find how to add to collection-->
<!--        <select type="text" name="ingredientCategory" th:field="${ingredient.ingredientCategory}" required>-->
<!--            <option value="Category" disabled>Category</option>-->
<!--            <option value="Spice" >Spice</option>-->
<!--            <option value="Protein" >Protein</option>-->
<!--            <option value="Side" >Side</option>-->
<!--            <option value="Condiment" >Condiment</option>-->
<!--            <option value="Other" >Other</option>-->
<!--        </select>-->
<!--        <input type="date" name="purchaseDate" th:field="${ingredient.purchaseDate}">-->
<!--        <button type="submit" class="btn btn-primary">Add to My Kitchen!</button>-->
<!--    </form>-->

</body>
</html>

<!--have input for ingredient name      check
now need select for ingredient category i.e. spice, protein, side, condiment, other.        check
and input for purchase date             check-->
<!--https://getbootstrap.com/docs/4.4/components/forms/ for bootstrap that Haley already looked up-->
<!--still need a background image for this page-->