<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post">
    <p>Number: </p><input type="text" name="number" id="number">
    <p>Measurement: </p>
    <select name="measurement" id="measurement">
        <option value="teaspoon">tsp</option>
        <option value="tablespoon">Tbsp</option>
        <option value="cup">Cup</option>
        <option value="pound">Lb</option>
        <option value="ml">ml</option>
        <option value="mg">mg</option>
    </select>
    <p>Ingredient: </p><input type="text" name="ingredient" id="ingredient">
</form>

</body>
</html>