<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <head th:replace="fragments :: head"></head>
    <!--    <title> Matched Recipes</title>-->
</head>
<style>
    img{
        position: -ms-device-fixed;
    }
    container-fluid {
        position: center;
        border: indianred;
        font-weight: bold;
        font-family-sans-serif: normal;

    }
    h1 { color:indianred;
        font-size: xxx-large;
        align-content: baseline;
    }
    body, html {
        marginleft:30px;
        margin-right:30px;
        margin-bottom:30px;
    }
    row {
        marginleft:80px;
        margin-right:30px;
    }
</style>

<body class="container-fluid pt-lg-3 font-weight-bold" >
<nav th:replace="fragments :: navigation"></nav>


<p th:text="${recipes}"></p>
<h1 class="display-1">My Recipes</h1>
<!--<div class="row">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">Recipe Name & Description</div>-->
<!--</div>-->

<!--<div class="row" th:border="primary">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">Recipe Name & Description</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">Recipe Name & Description</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">Recipe Name & Description</div>-->
<!--</div>-->

</body>
</html>