<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class = "container">
<div class="row">
    <div class="col-lg-4">
        <h1>What's Sup?</h1>
    </div>
    <div class="col-lg-8">
        <div class="row"><h3>Answering the age-old question:</h3> </div>
        <h3>What's for supper?</h3>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <br><br><br>
            <br><br><p>Already have an account?</p><p>Sign in</p><br>
            <p> Username </p>
            <p> <input type="text"> </p>
            <p> Password </p>
            <p> <input type="text"> </p>
            <input class="btn btn-success " type="submit" value="Login">
        </div>

        <div class="col-lg-6">
            <br><br><p>Please Register</p> <p>to access all features of the app</p><br>
            <p> Full Name </p>
            <p> <input type="text"> </p>
            <p> Username </p>
            <p> <input type="text"> </p>
            <p> Password </p>
            <p> <input type="text"> </p>
            <p> Verify Password </p>
            <p> <input type="text"> </p>
            <input class="btn btn-success " type="submit" value="Register">
        </div>

    </div>
</div>


</body>
</html>