<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8"/>
  <title>WhatsSup</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div th:fragment="taco">
  <img th:src="@{/taco.jpg}" height="300" width="400">
  </div>
  <nav th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-#D15C4A " style="background-color: #d15C4A ">
  <a class="navbar-brand" href="#">WhatsSup</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Match Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Kitchen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log Out</a>
        </li>
        </li>
      </ul>
    </nav>
  </nav>
</body>
