<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<div th:replace="fragments :: head"></div>
<head>
    <meta charset="UTF-8"/>
    <title>What's Sup - Landing</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}"></script>
</head>
<nav class="navbar navbar-expand-xl navbar-light fixed-top mb-4 " style="background-color: #d15C4A">
    <a class="navbar-brand px-lg-5 mx-auto" style="visibility: hidden" href="#WhatsSup">WhatsSup</a>
</nav>
<body class="index-body">
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

    <div class="container">
        <div class="d-flex align-items-center text-center justify-content-between my-3">
            <h1 class="display-2 font-weight-bold w-100">Whats Sup?</h1>
            <h3 class="w-50">Answering the age-old question: What's for supper?</h3>
        </div>
    </div>
    <div class="container pr-5 ml-5">
        <h3>Already have an account? <a href="/login">Login </a></h3>
        <h3>If you don't have one, then <a href="/register">Register </a></h3>
    </div>
</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<!--<head>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--    <head th:replace="fragments :: head"></head>-->
<!--    &lt;!&ndash;    <title> My Kitchen</title>&ndash;&gt;-->
<!--</head>-->
<!--<style>-->
<!--    img{-->
<!--        position: -ms-device-fixed;-->
<!--    }-->
<!--    container-fluid {-->
<!--        position: center;-->
<!--        border: indianred;-->
<!--        font-weight: bold;-->
<!--        font-family-sans-serif: normal;-->

<!--    }-->
<!--    h1 { color:indianred;-->
<!--        font-size: xxx-large;-->
<!--        align-content: baseline;-->
<!--    }-->
<!--    body, html {-->
<!--        marginleft:30px;-->
<!--        margin-right:30px;-->
<!--        margin-bottom:30px;-->
<!--    }-->
<!--    row {-->
<!--        marginleft:80px;-->
<!--        margin-right:30px;-->
<!--    }-->
<!--</style>-->

<!--<body class="container-fluid pt-lg-3 font-weight-bold" >-->
<!--<nav th:replace="fragments :: navigation"></nav>-->

<!--<h1 class="display-1">My Recipes</h1>-->
<!--<div class="row">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">"findByRecipeAuthor()"</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">Recipe Name & Description</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">Recipe Name & Description</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--    <img class="img-thumbnail" th:src = "@{/images/recipe.png}"/>-->
<!--    <div class="col-sm-8">Recipe Name & Description</div>-->
<!--</div>-->