<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!--<div th:replace="fragments :: page-header"></div>-->

<div class="container">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Recipes By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Author</th>
        <th>Ingredients</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/recipe(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="recipeTitle : ${recipeTitles}">
                <a th:href="@{/list/recipe(column=recipe,value=${recipe.recipeAuthor})}" th:text="${recipe.recipeAuthor}">View My Recipes</a>
            </li>
        </td>
        <td>
            <li th:each="skill : ${skills}">
                <a th:href="@{/list/recipe(column=recipe,value=${recipe.ingredients})}" th:text="${recipe.ingredients}">View Matched Recipes</a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>
